label {
  display: block;
  margin-top: 10px;
}

.container {
  padding-bottom: 80px;
}

.btnstyles {
  display: block;
  margin-top: 30px;
  width: 100%;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 35px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.Context {
  padding-top: 3px;
  text-align: center;
}

.Icon {
  text-align: center;
  padding-bottom: 25px;
}

.bTnPropertyLogin {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: "Avenir-Medium";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #1976d2;
  color: #ffffff;
  border: 2px solid #1976d2;
  transition: background 60ms ease-in, color 60ms ease-in;
}

.bTnPropertyLogin:hover {
  background-color: #ffffff;
  border: 2px solid #1976d2;
  color: #1976d2;
  cursor: pointer;
  transition: border 60ms ease-in, color 60ms ease-in;
  transition: background 60ms ease-in, color 60ms ease-in;
}
